/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* src/index.css or any other CSS file */
.preloader-equalizer ul li {
  &:nth-child(1) {
    left: 0;
    animation: cssload-sequence1 1.15s ease infinite 0;
  }
  
}


@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes bounce-slow-reverse {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite,
    bounce-slow-reverse 3s ease-in-out infinite;
}

