/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes bounce-slow-reverse {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite,
    bounce-slow-reverse 3s ease-in-out infinite;
}

